.nav{
    color: teal;
}
.navbg{
    color: white;
    background-color: peachpuff;
}
.nav:hover{
    background-color: #55efc4;
    color: white;
    border-radius: 20px;
    transition: 1s;
}
.logo{
    margin: 0;
    padding: 0;
    width: 80px;
}
.logout{
    background-color: yellow;
    color: gray;
    font-weight: 400;
    margin-right: 5px;
}
.user{
    color: teal;
    font-size: 20px;
    font-weight: 500;
}